<!DOCTYPE html>
 <html lang="en">
 <head>
   
    </head>
     <body class="box">
   <!-- contact section -->
         <section id="contact-section">
           <div class="container">
           	 <h2>Contactez Nous</h2>
             

             
               
                   <!-- second grid -->
           <div>        
             <form class="tab">
                 <div class="form-group">
               <input type="Email" placeholder="Email" required><br/>
            </div>
           
               <div class="form-group">
               <textarea name="message" placeholder="Message" rows="5" required></textarea><br/>
            </div>
               <button mat-button type="submit" class="btn" [mat-dialog-close]="true" >Envoyer</button> 
             </form>   
               </div>
             </div>
           
         </section>

         
     </body>
 </html>