.cslt{
    position: absolute;
    margin-top: 8%;
    margin-left: 10%;
}

.cslt h3{
    font-size: 120%;

}

.cslt button{
    width: 150px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    padding: 5px;
}

.btn1{
    margin-top: 30%;
}

.btn2{
    margin-left: 15px;
}

.btn3{
    margin-left: 15px;
}



.select{
    font-size: 120%;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .btn{
 
    margin-top: 20px;
    margin-left: 30px;
}