.bg{
    overflow: hidden;
}

.left{
    float:right;
    margin-right:15%;
    margin-top:18%;
    font-size: 100px;
    color:goldenrod;
}
.right{
    width: 500px;
    height: 600px;
    position: absolute;
    top: 45%;
    left:25%;
    transform: translate(-50%,-50%);
    padding: 20px 20px;
    border:5px solid goldenrod;

}
h2{
    font-size: 250%;
    margin-left:40%;
    margin-top: 10%;
    color: goldenrod;
    padding: 10px;
}

.form-group{
    padding: 10px 10px;
    
}

.form-group input{
   border-bottom: 1px solid;
    outline: none;
    background: none;
    color:  rgb(17, 5, 71);
    font-size: 15px;
    width: 55%;
    height: 30px;
    margin-top: 50px;
    margin-left: 100px;
}
.form-group i{
    color: goldenrod;
    font-size: 40px;
}

.form-group button{
   padding: 10px;
   width: 20%;
   margin-top: 100px;
   margin-left: 20px;
   background-color: white;
   color: goldenrod;
}

.form-group a{
    float: right;
    margin-top: 80px;
}

