.comptes{
    width: 900px;
    height: 500px;
}

#cpts{
    
   
    padding: 10px 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    

}

.btn1{
    color: goldenrod;
    font-size: 125%;
    margin-top: 10px;
    background-color: gainsboro;
    
}


#cpts td, #cpts th{
    border: 1px solid #ddd;
    padding: 10px;
}

#cpts tr:nth-child(even){
    background-color: #f2f2f2;
}

#cpts tr:hover{background-color: #ddd;}

#cpts th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: goldenrod;
    color: white;
}

.close{
    float: right;
    background-color: gainsboro;
}