<div class="comptes">

  <button mat-raised-button class="btn1"  [mat-dialog-close]="true" type="submit" >Fermer</button>
  <h1>Mes Comptes</h1>


  <hr>
  <h4>

  </h4>
  
  <table id="cpts">
    <tr>
      <th *ngFor = "let column of headers">
        {{column}}

      </th>
    </tr>

    <tr *ngFor = "let row of rows._embedded.comptes">
      <td >
        {{row.id}}

      </td>
      <td >
        {{row.type}}

      </td>
      <td >
        {{row.solde}}

      </td>
      <td>
        <button mat-raised-button (click)="onDeleteCompte(row.id)" class="btn"><i class="fas fa-trash"></i></button>
        
      </td>
     
    </tr>

  </table>

</div>
