.box{
    width: 700px;
    height: 600px;
    position: absolute;
    background-color: white;
    transform: translate(-50%,-50%);
    padding: 20px 20px;
    border:5px solid goldenrod;
  }
  
  .form-group input{
    border-bottom: 1px solid;
     outline: none;
     background: none;
     color:  rgb(17, 5, 71);
     font-size: 15px;
     width: 55%;
     height: 20px;
     margin-top: 50px;
     margin-left: 100px;
  }
  
  .form-group i{
    color: goldenrod;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .box button{
    padding: 10px;
    width: 20%;
    margin-top: 100px;
    margin-left: 20px;
    background-color: white;
    color: goldenrod;
  }