.box{
    height: 370px;
    width: 500px;
    margin-left: 10%;
    margin-top: 5%;
    border: 2px solid gold;
    padding: 10px 10px;
}

.btn{
    background-color: gainsboro;
    width: 40%;
    height: 10%;
    margin-top: 130px;
    margin-left: 40px;
}

.form-group{
    margin-top: 25px;
    padding: 7px;
    
}

#type-select{
    width: 60%;
    height: 15%;
    padding: 10px;
    margin-left: 30px;
    border: 2px solid ;
}

.form-group label{
    font-size: 120%;

}

.form-group input{
    width: 55%;
    height: 10%;
    padding: 10px;
    border: 2px solid ;
    margin-left: 10px;
}

.fas{
    color: goldenrod;
    font-size: 140%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }